In [1]:
from citipy import citipy
import numpy as np
import pandas as pd

In [2]:
lats = np.random.uniform(low=-90.000, high=90.000, size=100)
lngs = np.random.uniform(low=-180.000, high=180.000, size=100)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
coordinates = list(lat_lngs)

In [4]:
cities = []


for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate [1]).city_name
    
    if city not in cities:
        cities.append(city)
        
len(cities)

73

In [5]:
import requests

import time

from datetime import datetime

from config import weather_api_key

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [13]:

# list of city data
city_data = []

# Print to logger
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    
    # Add 1 to the record count.
    record_count += 1
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_country = city_weather["sys"]["country"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        description = city_weather['weather'][0]['description']
        
        # Convert the date to ISO
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        
        # Append the city information to the city_data list
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Current Description":description,
                          "Country": city_country,})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | ushuaia
Processing Record 2 of Set 1 | bataipora
Processing Record 3 of Set 1 | puerto ayora
Processing Record 4 of Set 1 | busselton
Processing Record 5 of Set 1 | pevek
Processing Record 6 of Set 1 | ishigaki
Processing Record 7 of Set 1 | nikolskoye
Processing Record 8 of Set 1 | ekhabi
Processing Record 9 of Set 1 | hilo
Processing Record 10 of Set 1 | jamestown
Processing Record 11 of Set 1 | khatanga
Processing Record 12 of Set 1 | taltal
Processing Record 13 of Set 1 | sola
Processing Record 14 of Set 1 | vao
Processing Record 15 of Set 1 | vaini
Processing Record 16 of Set 1 | ribeira grande
Processing Record 17 of Set 1 | klaksvik
Processing Record 18 of Set 1 | eureka
Processing Record 19 of Set 1 | coihaique
Processing Record 20 of Set 1 | manica
Processing Record 21 of Set 1 | hithadhoo
Processing Record 22 of Set 1 | kodiak
Processing Record 23 of Set 1 | samarai
Processing Record 24 of Set 1 | bredasdorp
Processing Record 25 of Set 1 | hermanus
Processing Record 26 of Set 1 | kahului
Processing Record 27 of Set 1 | sitka
Processing Record 28 of Set 1 | bethel
Processing Record 29 of Set 1 | rikitea
Processing Record 30 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 31 of Set 1 | saskylakh
Processing Record 32 of Set 1 | vila franca do campo
Processing Record 33 of Set 1 | ponta do sol
Processing Record 34 of Set 1 | mogadishu
Processing Record 35 of Set 1 | tasiilaq
Processing Record 36 of Set 1 | cidreira
Processing Record 37 of Set 1 | okoneshnikovo
Processing Record 38 of Set 1 | vaitupu
City not found. Skipping...
Processing Record 39 of Set 1 | zolotinka
City not found. Skipping...
Processing Record 40 of Set 1 | karratha
Processing Record 41 of Set 1 | inhambane
Processing Record 42 of Set 1 | iqaluit
Processing Record 43 of Set 1 | airai
Processing Record 44 of Set 1 | yellowknife
Processing Record 45 of Set 1 | mareeba
Processing Record 46 of Set 1 | castro
Processing Record 47 of Set 1 | vredendal
Processing Record 48 of Set 1 | hobart
Processing Record 49 of Set 1 | beringovskiy
Processing Record 50 of Set 1 | port alfred
Processing Record 1 of Set 2 | lompoc
Processing Record 2 of Set 2 | grand river south east
City not found. Skipping...
Processing Record 3 of Set 2 | tiksi
Processing Record 4 of Set 2 | taolanaro
City not found. Skipping...
Processing Record 5 of Set 2 | ancud
Processing Record 6 of Set 2 | mataura
Processing Record 7 of Set 2 | birao
Processing Record 8 of Set 2 | norman wells
Processing Record 9 of Set 2 | torbay
Processing Record 10 of Set 2 | kerema
Processing Record 11 of Set 2 | bluff
Processing Record 12 of Set 2 | paciran
Processing Record 13 of Set 2 | avarua
Processing Record 14 of Set 2 | albany
Processing Record 15 of Set 2 | port lincoln
Processing Record 16 of Set 2 | luderitz
Processing Record 17 of Set 2 | chokurdakh
Processing Record 18 of Set 2 | rawson
Processing Record 19 of Set 2 | the valley
Processing Record 20 of Set 2 | tabou
Processing Record 21 of Set 2 | punta arenas
Processing Record 22 of Set 2 | mar del plata
Processing Record 23 of Set 2 | kattivakkam
-----------------------------
Data Retrieval Complete
-----------------------------

In [14]:
len(city_data)

68

In [15]:
#Convert array of dictionaries to a pandas Dataframe
city_data_df = pd.DataFrame(city_data)

In [16]:
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country
0,Ushuaia,-54.8000,-68.3000,23.50,94,83,4.65,broken clouds,AR
1,Bataipora,-22.2953,-53.2711,71.74,41,4,4.61,clear sky,BR
2,Puerto Ayora,-0.7393,-90.3518,69.55,94,99,5.01,overcast clouds,EC
3,Busselton,-33.6500,115.3333,61.72,77,100,19.44,light rain,AU
4,Pevek,69.7008,170.3133,38.41,74,91,14.81,overcast clouds,RU
5,Ishigaki,24.3448,124.1572,84.58,73,18,1.39,few clouds,JP
6,Nikolskoye,59.7035,30.7861,60.87,92,73,2.08,broken clouds,RU
7,Ekhabi,53.5102,142.9671,57.61,95,100,12.50,overcast clouds,RU
8,Hilo,19.7297,-155.0900,89.28,95,85,3.00,overcast clouds,US
9,Jamestown,42.0970,-79.2353,67.59,72,0,3.44,clear sky,US

In [17]:
city_data_df.columns

Index(['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Current Description', 'Country'],
      dtype='object')

In [20]:
#Reorder columns
new_column_order = ["City", "Country", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Current Description"]
#Assign new or the same Datafram in the new column order
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Ushuaia,AR,-54.8000,-68.3000,23.50,94,83,4.65,broken clouds
1,Bataipora,BR,-22.2953,-53.2711,71.74,41,4,4.61,clear sky
2,Puerto Ayora,EC,-0.7393,-90.3518,69.55,94,99,5.01,overcast clouds
3,Busselton,AU,-33.6500,115.3333,61.72,77,100,19.44,light rain
4,Pevek,RU,69.7008,170.3133,38.41,74,91,14.81,overcast clouds
5,Ishigaki,JP,24.3448,124.1572,84.58,73,18,1.39,few clouds
6,Nikolskoye,RU,59.7035,30.7861,60.87,92,73,2.08,broken clouds
7,Ekhabi,RU,53.5102,142.9671,57.61,95,100,12.50,overcast clouds
8,Hilo,US,19.7297,-155.0900,89.28,95,85,3.00,overcast clouds
9,Jamestown,US,42.0970,-79.2353,67.59,72,0,3.44,clear sky

In [21]:
city_data_df.dtypes

City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [23]:
#Create the output file (CSV)
output_data_file = "weather_database/WeatherPy_Database.csv"
#Export the city_data into a csv
city_data_df.to_csv(output_data_file, index_label= "City_ID")